/* @override http://localhost:8080/static/codemirror.css */

* {
  margin: 0;
  padding: 0;
}

body {
  font:13px/1.4 "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  *font-size:small; /* for IE */
  *font:x-small; /* for IE in quirks mode */
}

body.editbox {
  font-family:monospace;
  font-size: 93%; /* 12pt */
  line-height: 124%;
  overflow: auto;
  padding: 1em 0;
}

body.editbox[readonly] {
  background: rgb(229,237,244);
}

.hs-char,
.hs-float,
.hs-integer,
.hs-string 	{ color: #7f7519;}

.hs-comment { color: #236E25; font-style: italic; }
.hs-pragma	{ }

.hs-prelude-varid,
.hs-prelude-varsym,
.hs-special,
.hs-varid,
.hs-varsym	{ }

.hs-conid,
.hs-consym	{ color: #cc2900; }

.hs-reservedid,
.hs-reservedop { color: #7f3500; font-weight: bold; }

.hs-qualifier { color: #5e5e5e;}
.hs-error	{ background-color: #ffe5e5; }

.hs-prelude-varid,
.hs-prelude-varsym,
.hs-prelude-conid { color: #250087; }

