.CodeMirror {
  line-height: 1em;
  font-family: monospace;
  x-background: #fff !important;
  background: #ffffe5;
}

.CodeMirror-gutter {
  position: absolute; left: 0; top: 0;
  background-color: #f7f7f7;
  min-width: 3em;
  height: 100%;
}
.CodeMirror-gutter-text {
  border-right: 1px solid #eee;
  color: #aaa;
  text-align: right;
  padding: .5em .25em .5em .5em;
}
.CodeMirror-lines {
  padding: .5em;
}

.CodeMirror pre {
  margin: 0; padding: 0;
  font-family: inherit;
  overflow: hidden;
}

.CodeMirror-cursor {
  z-index: 10;
  position: absolute;
  visibility: hidden;
  border-left: 1px solid black !important;
}
.CodeMirror-focused .CodeMirror-cursor {
  visibility: visible;
}

span.CodeMirror-selected {
  background: #ccc !important;
}
.CodeMirror-focused span.CodeMirror-selected {
  background: Highlight !important;
}


.CodeMirror-matchingbracket { background-color: #9cc2fd; }
.CodeMirror-nonmatchingbracket {
  background-color: #ff4d4d;
  color: #fff;
  font-weight: bold;
}



.hs-char,
.hs-float,
.hs-integer,
.hs-string 	{ color: #7f7519;}

.hs-comment { color: #236E25; font-style: italic; }
.hs-pragma	{ }

.hs-prelude-varid,
.hs-prelude-varsym,
.hs-special,
.hs-varid,
.hs-varsym	{ }

.hs-conid,
.hs-consym	{ color: #cc2900; }

.hs-reservedid,
.hs-reservedop { color: #7f3500; }

.hs-qualifier { color: #5e5e5e;}
.hs-error	{ background-color: #ffe5e5; }

.hs-prelude-varid,
.hs-prelude-varsym,
.hs-prelude-conid { color: #250087; }



