/* @override http://localhost:8080/static/scaffold.css */

* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff url(ribbon.png) repeat-x scroll 0 0;
  min-width: 400px;
  font: 11pt/15pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #424242;
  position: relative;
}

body.with-topbar {
  border-top: 29px solid rgb(78,98,114);
  background-position: 0 29px;
}

#logo {
  position: absolute;
  text-indent: -9000em;
  background: url(barley-logo.png) no-repeat;
  width: 250px;
  height: 80px;
}

#content {
  position: relative;
  padding: 100px 15px 0;
  background: url(barley-and-beetle.png) no-repeat right top;
}

#content.with-sidebar {
  padding-right: 13em;
}

p {
  margin: 0.5em 0;
}

h1, h2, h3, h4, h5, h6, b {
  color: #cc2900;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Skia, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

h1 {
  font-style: normal;
  font-size: 145%;
  font-weight: bold;
}

h2 {
  font-size: 100%;
  font-weight: bold;
}

h3, b {
  font-size: 100%;
  font-weight: normal;
}

ul, ol, dl {
  margin: 0.5em 3em;
}

pre {
  font-family:monospace;
  font-size: 0.727em;
  line-height: 124%;
  margin: 1em 0;
  overflow: auto;
}

.src {
  padding: 0.5em 1em;
  background: rgb(229,237,244);
}

select, input, button, textarea {
  font:99% sans-serif;
  color: #424242;
}

#sidebar {
  width: 12em;
  position: absolute;
  top: 100px;
  right: 0;
  border-left: 1px dashed #cc2900;
}

#sidebar .module {
  font-size: 0.727em;
  line-height: 1.25em;
  margin: 0 1.5em;
}

#sidebar .module + .module {
  margin-top: 1.5em;
  padding-top: 1.5em;
  border-top: 1px dashed #cc2900;
}

#sidebar pre {
  overflow: hidden;
  font-size: 100%;
}

#sidebar form {
  margin-top: 0.5em;
}
#sidebar input[type=text] {
  width: 8em;
  margin-right: 1em;
}
#sidebar input[type=submit] {
  font-size: 0.727em;
}

#topbar {
  background: rgb(41,56,69);
  color: #white;
  position: absolute;
  top: -22px;
  right: 0;
  left: 0;
  height: 22px;
  font: 12px/22px sans-serif;
}

#topbar ul {
  list-style: none;
  display: inline-table;
  margin: 0;
}

#topbar ul.left {
  float: left;
}

#topbar ul.right {
  float: right;
}

#topbar ul li {
  display: inline;
  white-space: nowrap;
  position: relative;
}

#topbar ul li + li {
  border-left: 1px solid #d5d5d5; 
}

#topbar ul li ul {
  position: absolute;
  top: 17px;
  left: -9999em;
  background-color: rgba(0,0,0,0.5);
}

#topbar ul.left li:hover ul {
  left: 0;
}

#topbar ul li a {
  padding: 4px 6px;
}

#topbar ul li a.logo {
  padding-left: 36px;
  background: url(hslogo-16.png) no-repeat 8px 3px;
}

#topbar a:link,
#topbar a:visited {
  text-decoration: none;
  color: white;
}

#topbar a:hover,
#topbar ul li a.logo:hover {
  background-color: rgba(255,255,255,0.25);
}


#editor {
  text-align: right;
  margin: 0.5em 0 1em;
}

#editor textarea,
#editor .linenos {
  font-family:monospace;
  font-size: 0.727em;
  line-height: 124%;
  margin: 1em 0;
  overflow: auto;
  padding: 0.5em 1em;
}

#editor textarea.src {
  width: 100%;
  background: #ffc;
}

#editor textarea.src[readonly] {
  background: rgb(229,237,244);
}

#editor .with-linenos {
  position: relative;
}

#editor .with-linenos .src {
  padding-left: 4em;
}

#editor .with-linenos .linenos {
  position: absolute;
  top: 2px;
  left: 0;
  width: 3em;
  overflow: hidden;
  text-align: right;
  color: #b95c8b;
  padding-left: 0;
  padding-right: 0;
}

.with-preview {
  background-color: #eee7b9;
  width: 99%;
  padding: 4px 6px 4px 4px;
  margin: 1em 0;
}

.with-preview h1 {
  margin: 0.25em 0.25em 0 0.25em;
  font-weight: normal;
  font-size: 100%;
}

#preview {
  background: white;
  width: 100%;
  overflow: visible;
  height: 40em;
  margin: 0.5em 0 0;
  border: 1px solid #919191;
}

table#filelist {
  margin: 1em 0;
  padding: 0;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #c0c0c0;
}

#filelist .even {
  background-color: #f4f4f4;
}
#filelist .odd {
  background-color: #fafafa;
}

#filelist tr:hover {
  background-color: #ffc;
}

#filelist td {
  padding: 0.125em 0.5em;
}

#filelist p {
  margin: 0;
}

#filelist .dir {
  font-style: italic;
  color: #c0c0c0;
  font-size: 75%;
  padding-right: 0.5em;
}

#filelist .name {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: 0 1px;
}
#filelist .src-page { background-image: url(silk/page_white_world.png); }
#filelist .src-text { background-image: url(silk/page_white_code.png); }
#filelist .src-image { background-image: url(silk/image.png); }
#filelist .src-script { background-image: url(silk/page_white_code_red.png); }
#filelist .src-other { background-image: url(silk/page_white.png); }
#filelist .src-dir { background-image: url(silk/folder.png); }

#filelist .op { 
  padding: 0;
  width: 30px;
}
#filelist .op a {
  font-size: 16px;
  background-repeat: no-repeat;
  padding: 0 0 0 16px;
}
#filelist .op-preview {
  background-image: url(silk/magnifier.png);
}
#filelist .op-edit {
  background-image: url(silk/pencil.png);
}
#filelist .op-download {
  background-image: url(silk/arrow_down.png);
}
#filelist .op-file {
  background-image: url(silk/link.png);
}
#filelist a span {
  display: none;
}
