/* @override http://localhost:8080/static/scaffold.css */

* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff url(ribbon.jpg) repeat-x scroll 0 0;
  min-width: 400px;
  font: 11pt/15pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #424242;
  position: relative;
}

body.with-topbar {
  border-top: 29px solid rgb(78,98,114);
  background-position: 0 29px;
}

#content {
  position: relative;
  padding: 100px 15px 0;
  background: url(barley-and-beetle.png) no-repeat right top;
}

#content.with-sidebar {
  padding-right: 13em;
}

p {
  margin: 0.5em 0;
}

h1, h2, h3, h4, h5, h6, b {
  color: #cc2900;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Skia, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

h1 {
  font-style: normal;
  font-size: 145%;
  font-weight: bold;
}

h2 {
  font-size: 100%;
  font-weight: bold;
}

h3, b {
  font-size: 100%;
  font-weight: normal;
}

ul, ol, dl {
  margin: 0.5em 3em;
}

#sidebar {
  width: 12em;
  position: absolute;
  top: 100px;
  right: 0;
  border-left: 1px dashed #cc2900;
}

#sidebar .module {
  font-size: 0.727em;
  line-height: 1.25em;
  margin: 0 1.5em;
}

#sidebar .module + .module {
  margin-top: 1.5em;
  padding-top: 1.5em;
  border-top: 1px dashed #cc2900;
}

#sidebar pre {
  overflow: hidden;
}

#topbar {
  background: rgb(41,56,69);
  color: #white;
  position: absolute;
  top: -22px;
  right: 0;
  left: 0;
  height: 22px;
  font-size: 12px;
  font-family: sans-serif;
}

#topbar p {
  float: left;
  margin: 0;
  background: url(hslogo-16.png) no-repeat 5px 3px;
  font-size: 100%;
  padding: 0.2em 0 0.2em 32px;
}

#topbar ul {
  list-style: none;
  text-align: left;
  float: right;
  display: inline-table;
  margin: 0 0 0 1em;
}

#topbar ul li {
  display: inline;
  border-left: 1px solid #d5d5d5; 
  white-space: nowrap;
  padding: 0;
}

#topbar ul li a {
  padding: 0.2em 0.5em;
}

#topbar a:link,
#topbar a:visited {
	text-decoration: none;
	color: white;
}

#topbar a:hover { background: rgb(78,98,114); }

